/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background: #060406;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: #6A25F8;
  text-shadow: 0 0 5px blue;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #6A25F8;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: #060406;
  opacity: 0.9;
}
@font-face {
  font-family: Hiruko;
  src: url('../HirukoBlackAlternate.ttf');
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #1e1d1e;
  position: fixed;
  opacity: 0.6;
  z-index: 3;
  width: 100%;
}
.navigation .logo {
  align-self: center;
  height: auto;
  width: 20%;
  margin-left: 5%;
}
.navigation .nav-links {
  display: flex;
  width: 25%;
  justify-content: space-between;
  margin-right: 2%;
}
@media (max-width: 1200px) {
  .navigation .nav-links {
    width: 40%;
  }
}
@media (max-width: 800px) {
  .navigation .nav-links {
    width: 50%;
  }
}
.navigation .nav-links a {
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 15px;
  color: #6A25F8;
  height: 40px;
  width: 120px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
}
.navigation .nav-links a:hover {
  border-bottom: 1px dashed blue;
  text-shadow: 0 0 5px blue;
}
.footer {
  font-size: 2rem;
  color: #6A25F8;
  text-align: center;
  padding-top: 3rem;
}
.main-content {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.main-content .header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 8%;
}
.main-content .blackhole {
  width: 55%;
}
@media (max-width: 800px) {
  .main-content .blackhole {
    width: 40%;
  }
}
.main-content .intro {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 60%;
}
.main-content .intro h1 {
  z-index: 2;
  font-size: 6rem;
  border-bottom: 1px dashed blue;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 1rem;
  font-family: Hiruko;
  letter-spacing: 3px;
}
.main-content .intro .sign-up-btn {
  background: #6A25F8;
  box-shadow: 0 0 10px blue;
  border: none;
  padding: 10px 10px 15px 10px;
  border-radius: 25px;
  font-size: 2.2rem;
  font-family: 'Roboto';
  text-transform: lowercase;
  font-weight: bold;
}
.main-content .intro .sign-up-btn:hover {
  background: black;
  color: #6A25F8;
  cursor: pointer;
}
.main-content .pulsing {
  text-shadow: 0 0 5px blue;
  animation-name: appear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-delay: 2s;
}
@keyframes appear {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
.products-and-features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px dashed blue;
  border-radius: 15px;
}
@media (max-width: 800px) {
  .products-and-features {
    flex-direction: column;
  }
}
.products-and-features .products,
.products-and-features .features {
  margin-bottom: 4rem;
  padding: 10px;
  background: #6A25F8;
  border-radius: 15px;
  box-shadow: 0 0 10px blue;
  width: 45%;
}
@media (max-width: 800px) {
  .products-and-features .products,
  .products-and-features .features {
    width: 90%;
    margin: 0 auto;
  }
}
.products-and-features .products,
.products-and-features .features {
  margin-bottom: 2rem;
}
@media (max-width: 800px) {
  .products-and-features .products,
  .products-and-features .features {
    margin-top: 2rem;
  }
}
.products-and-features h2 {
  font-size: 3.5rem;
  color: black;
  text-shadow: none;
  padding: 10px;
}
.products-and-features p {
  color: black;
  padding: 10px;
  font-size: 1.8rem;
}
