/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background: #060406 !important;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: #6A25F8;
  text-shadow: 0 0 5px blue;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #6A25F8;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: #060406;
  opacity: 0.7;
}
@media (max-width: 500px) {
  .container {
    width: 80vw;
    max-width: 500px;
  }
}
@font-face {
  font-family: Hiruko;
  src: url('../HirukoBlackAlternate.ttf');
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #060406;
  position: fixed;
  opacity: 0.7;
  z-index: 3;
  width: 100%;
}
@media (max-width: 800px) {
  .navigation {
    flex-direction: column;
  }
}
.navigation .logo {
  align-self: center;
  height: auto;
  width: 20%;
  margin-left: 5%;
}
@media (max-width: 500px) {
  .navigation .logo {
    width: 70%;
  }
}
.navigation .nav-links {
  display: flex;
  width: 35vw;
  justify-content: space-between;
  margin-right: 2%;
}
@media (max-width: 1200px) {
  .navigation .nav-links {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .navigation .nav-links {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .navigation .nav-links {
    width: 100%;
  }
}
.navigation .nav-links a {
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 15px;
  color: #6A25F8;
  height: 40px;
  width: 120px;
  font-family: Hiruko;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.navigation .nav-links a:hover {
  border-bottom: 1px dashed blue;
  text-shadow: 0 0 5px blue;
}
.footer {
  font-size: 2rem;
  color: #6A25F8;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.home .main-content {
  display: flex;
  flex-direction: column;
}
.home .main-content .header-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 30%;
  margin: 8% auto 0 auto;
}
@media (max-width: 1200px) {
  .home .main-content .header-container {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .home .main-content .header-container {
    margin-top: 30%;
  }
}
.home .main-content .header-container .blackhole {
  width: 55%;
  height: 100%;
}
.home .main-content .header-container .intro {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 60%;
}
.home .main-content .header-container .intro h1 {
  z-index: 2;
  font-size: 6rem;
  border-bottom: 1px dashed blue;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 1rem;
  font-family: Hiruko;
  letter-spacing: 3px;
  text-shadow: 0 0 10px blue;
}
.home .main-content .header-container .intro .sign-up-btn {
  background: #6A25F8;
  box-shadow: 0 0 10px blue;
  border: none;
  padding: 5px 15px 5px 15px;
  border-radius: 25px;
  font-size: 2.4rem;
  font-family: Hiruko, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 1rem;
}
@media (max-width: 1200px) {
  .home .main-content .header-container .intro .sign-up-btn {
    margin-bottom: 3rem;
  }
}
.home .main-content .header-container .intro .sign-up-btn:hover {
  background: black;
  color: #6A25F8;
  cursor: pointer;
  text-shadow: 0 0 5px blue;
}
.home .main-content .pulsing {
  text-shadow: 0 0 5px blue;
  animation-name: appear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
  animation-delay: 2s;
}
@keyframes appear {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 1200px) {
  .home .main-content .pulsing {
    font-size: 2.8rem;
  }
}
.home .sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .section {
  width: 100%;
  margin: 20px;
  display: flex;
  border: 1px solid #6A25F8;
  box-shadow: 1px 1px 5px blue;
  border-radius: 10px;
  overflow: hidden;
}
.home .section .box {
  padding: 40px;
}
.home .section .box .box-title {
  font-size: 24px;
  padding-bottom: 10px;
  font-weight: bold;
}
.home .tabs {
  width: 100%;
}
.home .tabs .tabs-items {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}
@media (max-width: 1200px) {
  .home .tabs .tabs-items {
    height: auto;
  }
}
.home .tabs .tabs-item {
  display: none;
  color: #6A25F8;
  width: 75%;
}
.home .tabs .tabs-item .tabs-item-description {
  font-size: 1.8rem;
  padding-bottom: 10px;
  padding-top: 20px;
}
.home .tabs .tabs-item-selected {
  display: block;
}
.home .tabs .tabs-links {
  display: flex;
  background-color: #6A25F8;
  flex-direction: column;
}
@media (max-width: 800px) {
  .home .tabs .tabs-links {
    flex-direction: column;
  }
}
.home .tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: black;
  border-right: 1px solid blue;
  color: white;
  cursor: pointer;
}
.home .tabs .tabs-link:hover {
  background-color: #6A25F8;
  text-shadow: 0 0 5px blue;
  color: black;
}
.home .tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid blue;
  background-color: #6A25F8;
  color: black;
}
.home .tabs .tabs-link-selected:hover {
  text-shadow: 0 0 5px blue;
}
.home .carousel {
  height: auto !important;
  width: 100% !important;
  margin: 0 auto !important;
  border-radius: 25px !important;
  margin-bottom: 1rem !important;
}
.home .carousel img,
.home .carousel .carousel-inner {
  border-radius: 25px !important;
}
.about .container {
  background-image: url('../img/bg1.jpg');
  opacity: 0.5;
  height: auto;
}
.about .container .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 90vh;
  align-content: stretch;
  padding: 12% 0 2% 0;
}
.about .container .boxes h1 {
  align-self: flex-start;
}
.about .container .boxes .member {
  height: 175px;
  width: 45%;
  background: #060406;
  opacity: 0.8;
  margin: 1%;
  align-self: center;
  border-radius: 25px;
  box-shadow: 0 0 10px blue;
  display: flex;
  justify-content: space-between;
}
.about .container .boxes .member img {
  height: 95%;
  border-radius: 50%;
  margin: 1%;
}
.about .container .boxes .member .text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .container .boxes .member h2 {
  color: #6A25F8;
  text-shadow: 0 0 10px blue;
  font-family: Hiruko;
  font-size: 3.5rem;
  padding-top: 20px;
  width: 250px;
  text-align: center;
}
@media (max-width: 500px) {
  .about .container .boxes .member h2 {
    display: none;
  }
}
.about .container .boxes .member p {
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
}
.about .container .boxes .member .fab {
  color: #6A25F8;
  padding: 5px;
}
@media (max-width: 500px) {
  .about .container .boxes .member .fab {
    display: none;
  }
}
