/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
body {
  background-image: url("../img/bg2.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
@media (max-width: 500px) {
  body {
    background: black;
    background-image: url("../img/bg1.jpg") !important;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: #6A25F8;
  text-shadow: 0 0 5px blue;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  color: #6A25F8;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100% !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
  background: #060406;
  opacity: 0.8;
}
@media (max-width: 500px) {
  .container {
    background: none;
    opacity: 0.9;
  }
}
@font-face {
  font-family: Hiruko;
  src: url('../HirukoBlackAlternate.ttf');
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: hsl(300, 20%, 2%);
  position: fixed;
  opacity: 0.7;
  z-index: 3;
  width: 100%;
}
@media (max-width: 500px) {
  .navigation {
    height: 75px;
  }
}
.navigation .logo {
  align-self: center;
  height: auto;
  width: 12%;
  margin-left: 5%;
  padding-top: 5px;
}
@media (max-width: 800px) {
  .navigation .logo {
    width: 20%;
  }
}
@media (max-width: 500px) {
  .navigation .logo {
    display: none;
  }
}
.navigation .nav-links {
  display: flex;
  width: 35vw;
  justify-content: space-between;
  margin-right: 2%;
}
@media (max-width: 1400px) {
  .navigation .nav-links {
    width: 50%;
  }
}
@media (max-width: 800px) {
  .navigation .nav-links {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .navigation .nav-links {
    width: 95%;
  }
}
.navigation .nav-links a {
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 15px;
  color: #6A25F8;
  height: 40px;
  width: 120px;
  font-family: Hiruko;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  transition: 0.2s ease-out;
}
@media (max-width: 500px) {
  .navigation .nav-links a {
    font-size: 1.4rem;
  }
}
.navigation .nav-links a:hover {
  border-bottom: 1px dashed blue;
  text-shadow: 0 0 5px blue;
  color: whitesmoke;
}
.footer {
  font-size: 2rem;
  color: #6A25F8;
  text-align: center;
  background: #060406;
  height: 100px;
  opacity: 0.8;
  padding-top: 3%;
  padding-bottom: 3%;
}
.home .main-content {
  display: flex;
  flex-direction: column;
}
.home .main-content .header-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
  height: 80vh;
  width: 70%;
  align-self: center;
}
@media (max-width: 1400px) {
  .home .main-content .header-container {
    width: 50%;
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .home .main-content .header-container {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .home .main-content .header-container {
    width: 100%;
  }
}
.home .main-content .header-container .blackhole {
  width: 55%;
  height: 100%;
  opacity: 0.5;
}
@media (max-width: 1400px) {
  .home .main-content .header-container .blackhole {
    height: auto;
    width: 80%;
  }
}
.home .main-content .header-container h2 {
  font-size: 3.2rem;
  font-family: 'Roboto';
}
@media (max-width: 1400px) {
  .home .main-content .header-container h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  .home .main-content .header-container h2 {
    font-size: 1.8rem;
  }
}
.home .main-content .header-container .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
}
@media (max-width: 500px) {
  .home .main-content .header-container .intro {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
}
.home .main-content .header-container .intro h1 {
  border-bottom: 1px dashed blue;
  border-radius: 15px;
  margin-bottom: 1rem;
  padding-right: 2%;
  padding-left: 2%;
}
@media (max-width: 800px) {
  .home .main-content .header-container .intro h1 {
    width: 65%;
    max-width: 65%;
  }
}
@media (max-width: 500px) {
  .home .main-content .header-container .intro h1 {
    width: 90%;
    max-width: 90%;
  }
}
.home .main-content .header-container .intro .blackhole-btn {
  background: linear-gradient(180deg, #5f14ff 0%, #6c12dd 100%);
  box-shadow: 0 0 10px blue;
  border: none;
  padding: 5px 15px 5px 15px;
  border-radius: 5px;
  font-size: 2.8rem;
  font-family: Hiruko, sans-serif;
  margin-top: 3rem;
  color: whitesmoke;
  transition: 0.2s ease-out;
}
@media (max-width: 1400px) {
  .home .main-content .header-container .intro .blackhole-btn {
    font-size: 2.4rem;
  }
}
@media (max-width: 500px) {
  .home .main-content .header-container .intro .blackhole-btn {
    font-size: 2.2rem;
  }
}
.home .main-content .header-container .intro .blackhole-btn:hover {
  background: black;
  color: #6A25F8;
  cursor: pointer;
  text-shadow: 0 0 5px blue;
  transform: scale(1.05);
}
.home .main-content .buttons {
  height: 20vh;
  display: flex;
  justify-content: space-around;
}
.home .main-content .buttons .login-btn {
  background: black;
  box-shadow: 0 0 10px blue;
  padding: 5px 30px;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.2s ease-out;
  border: none;
  font-family: 'Roboto', sans-serif;
}
.home .main-content .buttons .login-btn:hover {
  background: linear-gradient(180deg, #5f14ff 0%, #6c12dd 100%);
  color: whitesmoke;
  cursor: pointer;
  text-shadow: 0 0 5px blue;
  transform: scale(1.05);
}
.home .main-content .pulsing {
  animation-name: appear;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-direction: alternate;
}
@keyframes appear {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
    text-shadow: 0 0 5px blue;
  }
}
.home .sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home .sub-container .section {
  width: 75%;
  margin: 20px;
  display: flex;
  border: 1px solid #6A25F8;
  border-radius: 5px;
  overflow: hidden;
  height: 250px;
}
@media (max-width: 1400px) {
  .home .sub-container .section {
    height: 300px;
  }
}
@media (max-width: 800px) {
  .home .sub-container .section {
    height: 350px;
  }
}
@media (max-width: 500px) {
  .home .sub-container .section {
    height: 400px;
    width: 100%;
  }
}
.home .sub-container .section .box {
  padding: 40px;
}
.home .sub-container .section .box .box-title {
  padding-bottom: 10px;
  font-weight: bold;
}
.home .sub-container .tabs {
  width: 100%;
}
.home .sub-container .tabs .tabs-items {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home .sub-container .tabs .tabs-item {
  display: none;
  color: #6A25F8;
  width: 90%;
}
.home .sub-container .tabs .tabs-item .tabs-item-description {
  padding-bottom: 10px;
  padding-top: 20px;
}
.home .sub-container .tabs .tabs-item .tabs-item-description p {
  line-height: 1.5;
  color: whitesmoke;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 1400px) {
  .home .sub-container .tabs .tabs-item .tabs-item-description p {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .home .sub-container .tabs .tabs-item .tabs-item-description p {
    font-size: 1.4rem;
  }
}
.home .sub-container .tabs .tabs-item .tabs-item-description li {
  color: whitesmoke;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  line-height: 2;
}
@media (max-width: 1400px) {
  .home .sub-container .tabs .tabs-item .tabs-item-description li {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .home .sub-container .tabs .tabs-item .tabs-item-description li {
    font-size: 1.4rem;
  }
}
.home .sub-container .tabs .tabs-item-selected {
  display: block;
}
.home .sub-container .tabs .tabs-links {
  display: flex;
}
.home .sub-container .tabs .tabs-link {
  padding: 10px 25px;
  font-size: 2.4rem;
  background-color: black;
  color: whitesmoke;
  border: 1px solid #6A25F8;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: 0.2s ease-out;
}
@media (max-width: 800px) {
  .home .sub-container .tabs .tabs-link {
    font-size: 1.8rem;
  }
}
@media (max-width: 500px) {
  .home .sub-container .tabs .tabs-link {
    font-size: 1.2rem;
  }
}
.home .sub-container .tabs .tabs-link:hover {
  background-color: #6A25F8;
  text-shadow: 0 0 5px blue;
  color: black;
}
.home .sub-container .tabs .tabs-link-selected {
  border-right: 1px solid #6A25F8;
  background-color: #6A25F8;
  color: whitesmoke;
}
.home .sub-container .tabs .tabs-link-selected:hover {
  text-shadow: 0 0 5px blue;
}
.home .sub-container .carousel {
  height: auto !important;
  width: 70% !important;
  margin: 0 auto !important;
  border-radius: 5px !important;
  margin-bottom: 5rem !important;
}
@media (max-width: 500px) {
  .home .sub-container .carousel {
    width: 100% !important;
  }
}
.home .sub-container .carousel img,
.home .sub-container .carousel .carousel-inner {
  border-radius: 5px !important;
}
.blackholeAnimation {
  animation-name: blackhole;
  animation-duration: 7s;
}
@keyframes blackhole {
  from {
    transform: scale(1) rotate(0deg);
    border: none;
    max-width: 90vw;
  }
  to {
    transform: scale(0) rotate(360deg);
    border: none;
    font-size: 0;
  }
}
.fadeIn {
  animation-name: fadeIn;
  animation-duration: 5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  padding: 5% 0 2% 0;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .about .boxes {
    padding-top: 10%;
  }
}
@media (max-width: 800px) {
  .about .boxes {
    padding-top: 12%;
  }
}
@media (max-width: 500px) {
  .about .boxes {
    padding-top: 30%;
  }
}
.about .boxes .member {
  width: 20%;
  margin: 1%;
  border-radius: 5px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1400px) {
  .about .boxes .member {
    width: 30%;
  }
}
@media (max-width: 800px) {
  .about .boxes .member {
    width: 45%;
  }
}
@media (max-width: 500px) {
  .about .boxes .member {
    width: 90%;
    margin-bottom: 5%;
  }
}
.about .boxes .member img {
  height: auto;
  border-radius: 50%;
  width: 50%;
  align-self: center;
  cursor: pointer;
  transition: 0.2s ease-out;
  margin-top: 2%;
}
@media (max-width: 800px) {
  .about .boxes .member img {
    height: auto;
    width: 50%;
    align-self: center;
  }
}
@media (max-width: 500px) {
  .about .boxes .member img {
    margin-bottom: 5%;
  }
}
.about .boxes .member img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px blue;
  border: 1px solid #6A25F8;
}
.about .boxes .member .text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.about .boxes .member h2 {
  color: #6A25F8;
  text-shadow: 0 0 10px blue;
  font-family: Hiruko;
  font-size: 3.4rem;
  padding-top: 20px;
  padding-right: 5%;
  padding-left: 5%;
  width: 275px;
  text-align: center;
}
@media (max-width: 500px) {
  .about .boxes .member h2 {
    padding-top: 0;
    font-size: 3.5rem !important;
  }
}
.about .boxes .member p {
  font-size: 2.2rem;
  font-family: 'Roboto', sans-serif;
}
.about .boxes .member .fab {
  color: #6A25F8;
  padding: 5px;
}
.member-content {
  height: 0;
  overflow: hidden;
}
