.container {
    display: flex;
    flex-direction: column;
        
    h1 {
        margin: 0 auto;
        letter-spacing: 5px;
        font-weight: bold;
        text-shadow: 0 0 5px blue;
        margin-bottom: 40px;
        margin-top: 40px;
        text-transform: uppercase;
        font-size: 6rem;
        text-align: center;
        // animation-name: appear;
        // animation-iteration-count: infinite;
        // animation-duration: 2s;
        // animation-direction: alternate;

        // @keyframes appear {
        //    from {opacity: .2}
        //     to {opacity: 1}
        // }
    }

    .blackhole {
        min-width: 100%;
    }
}


