.home {
  .main-content {
    display: flex;
    flex-direction: column;

    .header-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin: 8% auto 0 auto;
        height: 80vh;
        width: 70%;

        @media @laptop {
          width: 50%;
        }

        @media @tablet {
          width: 80%;
        }

        @media @mobile {
            margin-top: 5%;
            width: 100%;
        }
        .blackhole {
            width: 55%;
            height: 100%;


        @media @laptop {
          display: none;
        }
      }
      
      h2 {
        font-size: 3.2rem;
        font-family: 'Roboto';

        @media @laptop {
          font-size: 2.4rem;
        }

        @media @mobile {
          font-size: 1.8rem;
        }
    }
        .intro {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 60%;      
          
            @media @mobile {
              width: 90%;
              margin: 0 auto;
              height: auto;
            }
    
            h1 {
                border-bottom: 1px dashed blue;
                border-radius: 15px;
                margin-bottom: 1rem;
                padding-right: 2%;
                padding-left: 2%;


                @media @tablet {
                  width: 65%;
                  max-width: 65%;
                }

                @media @mobile {
                  width: 90%;
                  max-width: 90%;
                }
            }
    
            .blackhole-btn {
              background: linear-gradient(180deg, #5f14ff 0%, #6c12dd 100%);
                box-shadow: 0 0 10px blue;
                border: none;
                padding: 5px 15px 5px 15px;
                border-radius: 5px;
                font-size: 2.8rem;
                font-family: Hiruko, sans-serif;
                margin-top: 3rem;
                color: whitesmoke;
                transition: 0.2s ease-out;

                @media @laptop {
                  font-size: 2.4rem;
                }

                @media @mobile {
                  font-size: 2.2rem;
                }
    
            &:hover {
                background: black;
                color: #6A25F8;
                cursor: pointer;
                text-shadow: 0 0 5px blue;
                transform: scale(1.05);
            }

         }
      }
    }

    .buttons {
      height: 20vh;
      display: flex;
      justify-content: space-around;

      .login-btn {
        background: black;
        box-shadow: 0 0 10px blue;
        padding: 5px 30px;
        border-radius: 5px;
        color: whitesmoke;
        cursor: pointer;
        font-size: 2rem;
        transition: 0.2s ease-out;
        border: none;
        font-family: 'Roboto', sans-serif;
        

        &:hover {
          background: linear-gradient(180deg, #5f14ff 0%, #6c12dd 100%);
          color: whitesmoke;
          cursor: pointer;
          text-shadow: 0 0 5px blue;
          transform: scale(1.05);
      }
      }
    }
  
    
        
    .pulsing {
        animation-name: appear;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-direction: alternate;

        @keyframes appear {
           from {opacity: 0.1}
            to {opacity: 1; text-shadow: 0 0 5px blue;}
        }
    }
}


.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


.section {
    width: 75%;
    margin: 20px;
    display: flex;
    border: 1px solid @accentColor;
    border-radius: 5px;
    overflow: hidden;
    height: 250px;

    @media @laptop {
      height: 300px;
    }

    @media @tablet {
      height: 350px;
    }

    @media @mobile {
      height: 400px;
      width: 100%;
    }

    .box {
      padding: 40px;
      .box-title {
        padding-bottom: 10px;
        font-weight: bold;
      }
    }
  }

.tabs {
    width: 100%;

    .tabs-items {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .tabs-item {
      display: none; 
      color: @accentColor;
      width: 90%;
      .tabs-item-description {
        padding-bottom: 10px;
        padding-top: 20px;

        p {
          line-height: 1.5;
          color: whitesmoke;
          font-size: 1.8rem;
          font-family: 'Roboto', sans-serif;

          @media @laptop {
            font-size: 1.6rem;
          }

          @media @mobile {
            font-size: 1.4rem;
          }
        }
        li {
          color: whitesmoke;
          font-size: 1.8rem;
          font-family: 'Roboto', sans-serif;
          line-height: 2;
          @media @laptop {
            font-size: 1.4rem;
          }
          @media @mobile {
            font-size: 1.4rem;
          }
        }
      }
    }
    .tabs-item-selected {
      display: block;
    }
  
    .tabs-links {
      display: flex;
    }
  
    .tabs-link {
      padding: 10px 25px;
      font-size: 2.4rem;
      background-color: black;
      color: whitesmoke;
      border: 1px solid @accentColor;
      cursor: pointer;
      width: 100%;
      text-align: center;
      transition: 0.2s ease-out;

      @media @tablet {
        font-size: 1.8rem;
    }
    @media @mobile {
      font-size: 1.2rem;
  }
      &:hover {
        background-color: @accentColor;
        text-shadow: 0 0 5px blue;
        color: black;
      }
    }
    .tabs-link-selected {
      border-right: 1px solid @accentColor;
      background-color: @accentColor;
      color: whitesmoke;

      &:hover {
        text-shadow: 0 0 5px blue;
      }
    }
  }

  .carousel {
    height: auto !important;
    width: 70% !important;
    margin: 0 auto !important;
    border-radius: 5px !important;
    margin-bottom: 5rem !important;

    @media @mobile {
      width: 100% !important;
    }

    img,
    .carousel-inner {
      border-radius: 5px !important;
    }
  }
}
}

//animation for button click

.blackholeAnimation {
  animation-name: blackhole;
  animation-duration: 7s;
}

@keyframes blackhole {
  from {
    transform: scale(1) rotate(0deg);
    border: none;
    max-width: 90vw;
    // height: 50%;
    // padding: 0;
    // font-size: 3rem;
  }
  to {
    transform: scale(0) rotate(360deg);
    // width: 0;
    // height: 0;
    border: none;
    font-size: 0;
    // padding: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 5s;
}
  @keyframes fadeIn  {
    from {opacity: 0};
    to {opacity: 1};
  }

// About page styling begins here, this comment will not appear in the CSS file

.about {

    .boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    padding: 5% 0 2% 0;
    width: 100%;
    margin: 0 auto;

    @media @laptop {
      padding-top: 10%;
    }

    @media @tablet {
      // height: auto;
      padding-top: 12%;
    }

    @media @mobile {
      padding-top: 30%;
    }
    
    .member {
      width: 20%;
      margin: 1%;
      border-radius: 5px;
      height: 350px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media @laptop {
        width: 30%;
      }

      @media @tablet {
        width: 45%;
      }

      @media @mobile {
        width: 90%;
        margin-bottom: 5%;
      }

      img {
        height: auto;
        border-radius: 50%;
        width: 50%;
        align-self: center;
        cursor: pointer;
        transition: 0.2s ease-out;
        margin-top: 2%;

        @media @tablet {
          height: auto;
          width: 50%;
          align-self: center;
        }
        @media @mobile {
          margin-bottom: 5%;
        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 10px blue;
          border: 1px solid @accentColor;
        }
      }

      .text {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
      }

      h2 {
        color: @accentColor;
        text-shadow: 0 0 10px blue;
        font-family: Hiruko;
        font-size: 3.4rem;
        padding-top: 20px;
        padding-right: 5%;
        padding-left: 5%;
        width: 275px;
        text-align: center;

        @media @mobile {
          padding-top: 0;
          font-size: 3.5rem !important;
        }
      }
      p {
        font-size: 2.2rem;
        font-family: 'Roboto', sans-serif;
      }
      .fab {
       color: @accentColor;
       padding: 5px;

      }
    }
  }
}

//classes for accordion on about page


.member-content {
  height: 0;
  overflow: hidden;
}




