.main-content {
    display: flex;
    flex-direction: column;
    height: auto;

    @media @laptop {
        height: auto;
    }

    @media @mobile {
        height: auto;
    }

    .header-container {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 8%;
        margin-bottom: 2rem;

        @media @laptop {
            flex-direction: column;
        }
    
        @media @mobile {
            flex-direction: column;
            margin-top: 30%;
        }
        .blackhole {
            width: 55%;
            height: 100%;
        }
        .intro {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            height: 60%;
    
            h1 {
                z-index: 2;
                font-size: 6rem;
                border-bottom: 1px dashed blue;
                border-radius: 15px;
                padding: 10px;
                margin-bottom: 1rem;
                font-family: Hiruko;
                letter-spacing: 3px;
            }
    
            .sign-up-btn {
                background: #6A25F8;
                box-shadow: 0 0 10px blue;
                border: none;
                padding: 10px 15px 15px 15px;
                border-radius: 25px;
                font-size: 2.4rem;
                font-family: Hiruko, sans-serif;
                text-transform: uppercase;
                font-weight: bold;
                margin-top: 1rem;
                margin-bottom: 1rem;
    
            &:hover {
                background: hotpink;
                color: #6A25F8;
                cursor: pointer;
            }
         }
      }
    }
        
    .pulsing {
        text-shadow: 0 0 5px blue;

        animation-name: appear;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        animation-direction: alternate;
        animation-delay: 2s;

        @keyframes appear {
           from {opacity: 0.1}
            to {opacity: 1}
        }
        @media @laptop {
            font-size: 2.8rem;
         }
    }
}

.section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    border: 1px solid @accentColor;
    box-shadow: 1px 1px 5px blue;
    border-radius: 10px;
    overflow: hidden;
    .box {
      padding: 40px;
      .box-title {
        font-size: 24px;
        padding-bottom: 10px;
        font-weight: bold;
      }
    }
  }

.tabs {
    width: 100%;
    .tabs-items {
      width: 100%;
      height: 250px;
      display: flex;
      justify-content: center;
    }
    .tabs-item {
      display: none; 
      color: @accentColor;
  
      width: 75%;
      .tabs-item-title {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
    .tabs-item-selected {
      display: block;
    }
  
    .tabs-links {
      display: flex;
      background-color: @accentColor;
    }
  
    .tabs-link {
      padding: 20px 25px;
      font-size: 24px;
      background-color: @accentColor;
      border-right: 1px solid white;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: hotpink;
      }
    }
    .tabs-link-selected {
      z-index: 2;
      border-right: 1px solid @accentColor;
      background-color: white;
      color: @accentColor;
      &:hover {
        background-color: white;
      }
    }
  }


