    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: 0 auto;
        
        .logo {
            align-self: center;
            height: auto;
            width: 25%;
        }
        
        .nav-links {
            display: flex;
            width: 30%;
            justify-content: space-between;

        a {
                text-decoration: none;
                font-size: 1.8rem;
                border-radius: 15px;
                color: #6A25F8;
                height: 40px;
                width: 120px;
                font-family: 'Roboto', sans-serif;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;            

        &:hover {
            border-bottom: 1px solid blue;
            border-top: 1px solid blue;
            text-shadow: 0 0 5px blue;
          }
        }
     }
  }
