    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        background: #161819;
        position: fixed;
        opacity: 0.6;
        z-index: 1;
        
        .logo {
            align-self: center;
            height: auto;
            width: 20%;
            margin-left: 5%;
        }
        
        .nav-links {
            display: flex;
            width: 25%;
            justify-content: space-between;
            margin-right: 5%;

        a {
            text-decoration: none;
            font-size: 1.8rem;
            border-radius: 15px;
            color: #6A25F8;
            height: 40px;
            width: 120px;
            font-family: 'Roboto', sans-serif;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;            

        &:hover {
            border-bottom: 1px solid blue;
            border-top: 1px solid blue;
            text-shadow: 0 0 5px blue;
          }
        }
     }
  }
