.main-header {
    padding-top: 40px;

    .navigation {
        display: flex;
        justify-content: space-evenly;

        a {
                color: #000000;
                text-decoration: none;
                font-size: 2rem;
                border: 1px solid blue;
                border-radius: 15px;
                background: #6A25F8;
                padding: 15px;
                margin-right: 55px;
                margin-left: 55px;
        }
    }
}

